html {
    display: block;
}
body {
  background-color:goldenrod;
}

h1 {
    text-align: center;
    color: rgb(5, 249, 5);
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
    border-radius: 50px;
}
h2 {
    color:rebeccapurple;
}

h3{
    color:blue
}

h4 {
    color:#080fdf
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

section {
    width:85%;
}

section p::first-letter {
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    color: crimson;
    font-weight: bold;
}

aside .container { 
    display: flex;
    flex-direction: column;
}

aside {
    background-color: firebrick;
    max-height: fit-content;
    padding-right: 10px;
}

ul li:nth-child(even) {
    color: deepskyblue;
}

ul li:nth-child(odd) {
    color: rgb(32, 156, 8);
}
a {
    color:turquoise
}

a:hover {
    background-color: purple;
    color: gold;
}

img {
    border-radius: 60%;
}

img:hover {
    box-shadow: 0 0 15px 15px rgba(81, 1, 146, 0.75);
}
